<!---->
<div class="cart-main">
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Colour</th>
      <th scope="col">Size</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Color Tipped Pique Polo Shirt</td>
      <td>Baltic</td>
      <td>XL</td>
      <td>LKR 31,006.37</td>
      <td>1</td>
      <td>LKR 31,006.37</td>
    </tr>
    </tbody>
  </table>
</div>
<!---->
