<hr class="style-one">

<div class="footer-p-one">
  <div class="row">

    <div class="col-md-3">
      <ul>
        <li><h6>CUSTOMER SERVICE</h6></li>
        <li><a href="">1-800-777-0000</a></li>
        <li><a href="">FAQs & Help</a></li>
        <li><a href="">Visitor Services</a></li>
        <li><a href="">Domestic Site FAQs</a></li>
      </ul>
    </div>

    <div class="col-md-3">
      <ul>
        <li><h6>YOUR ORDER</h6></li>
        <li><a href="">Order Status & History</a></li>
        <li><a href="">Shipping Policy</a></li>
        <li><a href="">Returns & Exchanges</a></li>
      </ul>
    </div>

    <div class="col-md-3">
      <ul>
        <li><h6>ABOUT BLOOMINGDALE'S</h6></li>
        <li><a href="">About Us</a></li>
        <li><a href="">b.cause</a></li>
        <li><a href="">Careers</a></li>
      </ul>
    </div>

    <div class="col-md-3">
      <ul>
        <li><h6>FOLLOW US</h6></li>
        <li>
          <div class="row">
            <div class="col-md-2"><a href="#"><i class="fa fa-mobile w3-large" aria-hidden="true"></i></a></div>
            <div class="col-md-2"><a href="#"><i class="fa fa-instagram w3-large" aria-hidden="true"></i></a></div>
            <div class="col-md-2"><a href="#"><i class="fa fa-pinterest-p w3-large" aria-hidden="true"></i></a></div>
            <div class="col-md-2"><a href="#"><i class="fa fa-facebook w3-large" aria-hidden="true"></i></a></div>
            <div class="col-md-2"><a href="#"><i class="fa fa-twitter w3-large" aria-hidden="true"></i></a></div>
          </div>
        <li>
          <div class="row sign-up-text">
            <div class="col-md-2 ">
              <i class="fa fa-envelope-o w3-xlarge" aria-hidden="true"></i>
            </div>
            <div class="col-md-10 "><p><b><a routerLink="/customer">SIGN UP AND SAVE 15%</a></b></p></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<hr class="style-one">

<div class="footer-p-two">
  <p><a href="#">Terms of Use</a>&nbsp;&nbsp;|&nbsp;
    <a href="#">Privacy</a>&nbsp;&nbsp;|&nbsp;
    <a href="#">Do Not Sell My Personal Information</a>&nbsp;&nbsp;|&nbsp;
    <a href="#">CA Privacy</a>&nbsp;&nbsp;|&nbsp;
    <a href="#">CA Transparency in Supply Chains Act</a>&nbsp;&nbsp;|&nbsp;
    <a href="#">Interest Based Ads</a>&nbsp;&nbsp;|&nbsp;
    <a href="#">Customers' Bill of Rights</a>&nbsp;&nbsp;|&nbsp;
    <a href="#">Product Recall</a>&nbsp;&nbsp;|&nbsp;
    <a href="#">Essential Accessibility</a>
  </p>
  <p>
    © 2021 Bloomingdale's. 1000 Third Avenue New York, NY 10022. <a href="">Request our corporate name and address.</a>
  </p>
</div>

<div class="d-flex justify-content-center">
  <img src="../../../assets/footer/footer-last-img.svg" alt="Like No Other Store In The World">
</div>


<hr class="style-one">
