<!--Row-01 - Buy More..-->
<div class="row header-row-one">
  <div class="col-md-12 d-flex justify-content-center">
    <p><b>Buy More, Save More: Take 20-30% off items labeled CODE: GETIT. Ends in 6/20. <a href="#"><u>T&C</u></a></b></p>
  </div>
</div>


<!--Row-02 STORES & EVENTS, SHOPPING SERVISES, LKR-->
<div class="row header-row-two-row-one">
  <div class="d-flex justify-content-end header-row-two">
      <a class="header-row-two" href="#">STORES & EVENTS</a>
      <a class="header-row-two" href="#">SHOPPING SERVISES</a>
      <a class="header-row-two" href="#">LKR</a>
  </div>
</div>


<!--Row-03 Web-Header , Search-bar -->
<div class="row">
  <div class="col-md-6 d-flex justify-content-start">
    <a class="web-header" href="#">Bloomingdale's</a>
  </div>

  <div class="col-md-6 d-flex justify-content-end search-items">
    <input class="search-bar" type="text" placeholder="Search Here..">
    <button class="search-button">
      <i class="fas fa-search"></i>
    </button>
  </div>
</div>


<!--Nav-Bar-->
<div class="row">

  <div class="col-md-1 dropdown">
    <button class="dropbtn"><b>Women</b></button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>

  <div class="col-md-1 dropdown">
    <button class="dropbtn"><b>Shoes</b></button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>

  <div class="col-md-1 dropdown">
    <button class="dropbtn"><b>Handbags</b></button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>

  <div class="col-md-1 dropdown">
    <button class="dropbtn"><b>JEWELRY & ACCESSORIES</b></button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>

  <div class="col-md-1 dropdown">
    <button class="dropbtn"><b>Men</b></button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>

  <div class="col-md-1 dropdown">
    <button class="dropbtn"><b>Kids</b></button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>

  <div class="col-md-1 dropdown">
    <button class="dropbtn"><b>HOME</b></button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>

  <div class="col-md-1 dropdown">
    <button class="dropbtn"><b>SALE</b></button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>

  <div class="col-md-1 dropdown">
    <button class="dropbtn"><b>DESIGNERS</b></button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>

  <div class="col-md-1 dropdown">
    <button class="dropbtn"><b>EDITORIAL</b></button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>

  <div class="col-md-1 dropdown">
    <button class="dropbtn"><b>Gifts</b></button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>
</div>


<!--Header Row-04 Free international shipping...-->
<div class="row header-row-four">
  <div class="col-md-12 d-flex justify-content-center">
    <p><b>Free international shipping on orders 250+ USD! <a href="#"><u>INFO/EXCLUSIONS</u></a></b></p>
  </div>
</div>
